<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name="viewport" content=""width=device-width, initial-scale="1.0">
        <title>Home page by Golang</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    </head>
    <body>
        {{template "header"}}

        <section>
            <h1>List of Playlist on my Channel are:</h1>
            <ol>
                <li>Android Programming with Java</li>
                <li>Android Programming with Python</li>
                <li>Golang Programming</li>
                <li>Java Programming</li>
            </ol>
        </section>
        {{template "footer"}}
       
    </body>

</html>